@import url(/scripts/bootstrap/dist/css/bootstrap.min.css);
@import url(/scripts/font-awesome/css/font-awesome.min.css);
@import 'https://fonts.googleapis.com/css?family=Roboto:300';
html {
  font-size: 16px; }

body {
  background-color: #F2F9FD;
  font-size: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin: 0; }

html {
  font-size: 16px; }

body {
  background-color: #F2F9FD;
  font-size: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin: 0; }

main {
  margin: 2.5em;
  margin-top: 1.25em; }

.card__img--center {
  margin: 0 auto;
  max-height: 13.4375em; }

.card__badge {
  padding-left: 0.875em;
  padding-right: 0.875em; }

.card__badge--green {
  background-color: #83D78C; }

.card__badge--blue {
  background-color: #0089CF; }

.card {
  background-color: #FFFFFF;
  height: 26.875em;
  padding: 1.75em;
  position: relative; }

.content__most-popular {
  background-color: transparent;
  border: none;
  font-family: 'DINNextLTPro';
  font-size: 0.875em;
  color: #333333;
  text-transform: uppercase; }

.content {
  bottom: 3.125em;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.card--arrivals {
  background-image: url(../img/product12.png);
  background-size: cover; }

.card__btn-icon {
  background-color: transparent;
  border: none;
  color: #666666; }

.content__filter {
  background-image: url("../img/filter.png");
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0.3125em;
  left: -3.125em;
  width: 4.5625em;
  height: 4.5625em; }

.modal-backdrop {
  background-color: #0C0D0D;
  opacity: .9 !important; }

.close {
  transition: transform 1s;
  font-size: 500%;
  color: #FFFFFF;
  margin-right: 0.1875em; }

.close:hover {
  transform: rotate(360deg);
  color: #FFFFFF; }

.filter {
  background-image: url("../img/filter.png");
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0.3125em;
  left: -3.125em;
  width: 4.5625em;
  height: 4.5625em; }

@font-face {
  font-family: 'DINNextLTPro';
  src: url("../fonts/DINNextLTPro-MediumCond.otf"); }

p {
  font-family: 'Roboto';
  font-size: 0.75em;
  color: #666666; }

.p--subtitle {
  font-size: 0.875em; }

h1 {
  display: inline-block;
  font-family: 'DINNextLTPro';
  font-size: 2.8125em;
  color: #333333;
  text-transform: uppercase;
  background-image: url("../img/title-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0 0.3125em 0 0.3125em; }

h2 {
  font-family: 'DINNextLTPro';
  font-size: 1.125em;
  color: #333333;
  text-transform: uppercase; }

.h2--discount-red {
  text-decoration: line-through;
  color: #FC7070; }

.h2--big-title-card {
  font-size: 3.4375em;
  color: #FFFFFF; }

h3 {
  font-family: 'DINNextLTPro';
  font-size: 0.875em;
  color: #333333;
  text-transform: uppercase; }

.h3--color-white {
  color: #FFFFFF; }

.h3--color-blue {
  color: #0089CF; }

input {
  font-family: 'Roboto';
  font-size: 0.875em;
  color: #666666; }

header {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px; }

.header__item {
  font-family: 'DINNextLTPro';
  font-size: 1em;
  color: #333333;
  text-transform: uppercase; }

.header__item--blue {
  color: #0089CF; }

.header__item--red {
  color: #FC7070; }

.header__item--active {
  border-bottom: 4px solid #0089CF;
  color: #0089CF; }

.header__navbar-custom {
  background-color: #F2F9FD;
  border: none; }

.header__navbar-custom .navbar-nav > li > a:hover {
  background-color: #F2F9FD;
  border-bottom: 4px solid #0089CF;
  color: #0089CF; }

.header__navbar-custom .navbar-nav > li > a {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 10px;
  margin-right: 10px; }

footer {
  padding: 2.5em;
  background-color: #0C0D0D; }

.menulist {
  height: 50%;
  column-count: 3; }

.menulist li {
  display: inline-block;
  /*necessary*/
  padding-right: 50%; }

.menulist__item a {
  font-family: 'DINNextLTPro';
  font-size: 0.875em;
  color: #333333;
  text-transform: uppercase; }

.sharesection {
  text-align: right;
  margin-left: 16.66667%; }

.sharelist__item {
  text-decoration: none;
  display: inline;
  padding-right: 0.125em; }

.sharelist__item a {
  color: #333333;
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 12px;
  border: 1px solid #333333; }

.sharelist__icon {
  font-size: 1.5625em; }

.form {
  padding-top: 1.5625em; }

.form input {
  width: 278px;
  padding-left: 1.875em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #333333; }

::-webkit-input-placeholder {
  color: #333333; }

.form:before {
  height: 100%;
  width: 30px;
  padding-right: 0.625em;
  position: absolute;
  content: "\2709";
  font-family: 'Glyphicons Halflings';
  pointer-events: none; }

.footer__description {
  text-align: center;
  color: #333333;
  margin-top: 2.5em; }

@media (min-width: 768px) {
  .element {
    padding-top: 5em; } }

@media (max-width: 1330px) {
  .sharesection {
    margin-left: 0px; } }

@media (max-width: 992px) {
  .sharesection, .form {
    text-align: center; } }

@media (max-width: 766px) {
  .menulist {
    margin-top: 1.25em; }
  .brand {
    text-align: center; } }

@media (max-width: 420px) {
  .sharelist__item {
    padding-right: 0.0625em; }
  .sharelist__item a {
    width: 45px;
    height: 45px;
    padding: 9px; }
  .form input {
    width: 250px; } }

@media (max-width: 390px) {
  .sharelist__item {
    padding-right: 0em; }
  .sharelist__item a {
    width: 18%;
    height: 18%;
    padding: 6px; }
  .form input {
    width: 100%; } }

@media (max-width: 320px) {
  .sharelist__item a {
    width: 16%;
    height: 16%;
    padding: 3px; }
  .sharelist__icon {
    font-size: 1.125em; } }

@media (max-width: 768px) {
  .header__navbar-custom {
    border: none; }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #dceffa; } }

@media (max-width: 768px) {
  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none; }
  .navbar-default .navbar-toggle {
    margin-top: 20px;
    margin-bottom: 30px; } }

/* Padding top 15px */
.p-t-15 {
  padding-top: 0.9375em; }

/* Padding bottom 15px */
.p-b-15 {
  padding-bottom: 0.9375em; }

/* Padding top 42px */
.p-t-42 {
  padding-top: 2.625em; }

/* Margin top 12px */
.m-t-12 {
  margin-top: 0.75em; }

/* Margin top 22px */
.m-t-22 {
  margin-top: 1.375em; }

/* Padding Left 20px */
.p-l-20 {
  padding-left: 1.25em; }

/* Padding Left 5px */
.p-l-10 {
  padding-left: 0.625em; }

/* Padding Right 5px */
.p-r-10 {
  padding-right: 0.625em; }

.btn-circle {
  width: 1.875em;
  height: 1.875em;
  text-align: center;
  padding: 0.375em 0;
  font-size: 0.75em;
  border-radius: 50%;
  box-shadow: 0.0625em 0.0625em 0.6875em 0.0625em #333333; }

.btn-circle.btn-lg {
  width: 3.125em;
  height: 3.125em;
  padding: 0.625em 1em;
  font-size: 1.125em; }

.content--center {
  text-align: center; }

.img {
  padding-top: 2.5em;
  padding-bottom: 2.5em; }

.img--center {
  margin: 0 auto; }
