footer{
	padding:em(40);
	background-color:$color_black;
}

.menulist {
    height: em(150);
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3; 
}
.menulist li {
    display: inline-block; /*necessary*/
    padding-right:em(122);
}

.menulist__item a {
   font-family: 'DINNextLTPro';
   font-size: em(14);
   color: $color_darkgray;
   text-transform: uppercase;
}

.sharelist_item {
	text-decoration: none;
	display: inline;
	padding-right:em(2);
}

.sharelist_item a{
	color: $color_darkgray;
	width:50px;
	height:50px;
	text-align:center;
	padding:12px;
	border: 1px solid  $color_darkgray;
}
.sharelist_icon{
	
	font-size:em(25);
}
.form input {
	width:278px;
    padding-left:em(30);
    background-color:transparent;
    border:none;
    border-bottom:1px solid $color_darkgray;
}
::-webkit-input-placeholder { 
  color: $color_darkgray;
}
.form:before {
    height: 100%;
    width: 30px;
    padding-right:em(10);
    display: -webkit-box;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    position: absolute;
    content: "\2709";//envolpe hex value
    font-family: 'Glyphicons Halflings';
    pointer-events: none;

}

.layout__padding-bottom{
	padding-bottom:em(20);
}

.footer__description{
	text-align:center;
	color:$color_darkgray;
	margin-top:em(40);
}