header {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.header__item {
    font-family: 'DINNextLTPro';
    font-size: em(16);
    color: $color_darkgray;
    text-transform: uppercase;
}

.header__item--blue {
    color: $color_blue;
}

.header__item--red {
    color: $color_red;
}

.header__item--active {
    border-bottom: 4px solid $color_blue;
    color: $color_blue;
}

.navbar-nav > li > a:hover{
    background-color: $color_whiteice;
    border-bottom: 4px solid $color_blue;
    color: $color_blue;
}

.navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 10px;
    margin-right: 10px;
}
