.btn-circle {
  width: em(30);
  height: em(30);
  text-align: center;
  padding: em(6) 0;
  font-size: em(12);
  border-radius: 50%;
  box-shadow: em(1) em(1) em(11) em(1) $color_darkgray;
}

.btn-circle.btn-lg {
  width: em(50);
  height: em(50);
  padding: em(10) em(16);
  font-size: em(18);
}

.content--center{
	text-align:center;
}

.img{
	padding-top:em(40);
	padding-bottom:em(40);
}
.img--center{
	margin: 0 auto
}
