/* Padding top 15px */
.p-t-15 {
    padding-top: em(15);
}

/* Padding bottom 15px */
.p-b-15 {
    padding-bottom: em(15);
}

/* Padding top 42px */
.p-t-42 {
    padding-top: em(42);
}

/* Margin top 12px */
.m-t-12 {
    margin-top: em(12);
}

/* Margin top 22px */
.m-t-22 {
    margin-top: em(22);
}

/* Padding Left 20px */
.p-l-20 {
    padding-left: em(20);
}