// breakpoints for headers 768
@media (min-width: 768px){
    .element{
        padding-top: em(80);
    }
}

//breakpoint for footer
@media (max-width: 1330px){
    .sharesection{
        margin-left:0px;//remove margin-left
    }
}

@media (max-width: 992px){
    //Adjust share list and form area in footer
    .sharesection,.form{
    	text-align:center;
    }
}

@media (max-width: 766px){
    .menulist{
        margin-top: em(20);
    }
    .brand{
    	text-align:center;
    }
}

@media (max-width: 420px){
    .sharelist__item {
        padding-right:em(1);
    }
    .sharelist__item a{
        width:45px;
        height:45px;
        padding:9px;
    }
    .form input {
        width:250px;
    }

}


@media (max-width: 390px){
    .sharelist__item {
        padding-right:em(0);
    }
    .sharelist__item a{
        width:18%;//35px;
        height:18%;//35px;
        padding:6px;
    }
    .form input {
        width:100%;
    }

}

@media (max-width: 320px){
    .sharelist__item a{
        width:16%;//35px;
        height:16%;//35px;
        padding:3px;
    }

    .sharelist__icon{
        font-size:em(18);
    }
}

@media (max-width: 768px){
    .header__navbar-custom {
        border: none;
    }

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: darken($color_whiteice, 5%);
    }
}

@media (max-width: 768px){
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none; 
    }

    .navbar-default .navbar-toggle {
        margin-top: 20px;
        margin-bottom: 30px;
    }
}