main{
    margin: em(40);
    margin-top: em(20);
}

.card__img--center {
  margin: 0 auto;
  max-height: em(200);
}

.card__badge {
    padding-left: em(14);
    padding-right: em(14);
}

.card__badge--green {
    background-color: $color_green;
}

.card__badge--blue {
    background-color: $color_blue;
}

.card {
    background-color: $color_white;
    height: em(430);
    padding: em(28);
    position: relative;
}

.content__most-popular {
    background-color: transparent;
    border: none;
    font-family: 'DINNextLTPro';
    font-size: em(14);
    color: $color_darkgray;
    text-transform: uppercase;
}

.content {
    bottom: em(50);
    position:absolute;
    width: 100%;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.card--arrivals {
    background-image: url(../img/product12.png);
    background-size: cover;
}

.card__btn-icon {
    background-color: transparent;
    border: none;
    color: $color_gray;
}

.content__filter {
    background-image: url('../img/filter.png');
    background-color: transparent;
    border: none;
    position: absolute;
    top: em(5);
    left: em(-50);
    width: em(73);
    height: em(73);
}

.modal-backdrop {
    background-color: $color_black;
    opacity: .9 !important;
}

.close{
    transition: transform 1s;
    font-size: 500%;
    color: $color_white;
    margin-right: em(3);
}
.close:hover{
    transform: rotate(360deg);
    color: $color_white;
}

.filter {
    background-image: url('../img/filter.png');
    background-color: transparent;
    border: none;
    position: absolute;
    top: em(5);
    left: em(-50);
    width: em(73);
    height: em(73);
}