// All color already defined
$browser-context: 16;
$color_whiteice: #F2F9FD;
$color_darkgray: #333333;
$color_gray: #666666;
$color_blue: #0089CF;
$color_red: #FC7070;
$color_white: #FFFFFF;
$color_green: #83D78C;
$color_black: #0C0D0D;

// Add custom variables