@import url(../../node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(../../node_modules/font-awesome/css/font-awesome.min.css);
@import 'https://fonts.googleapis.com/css?family=Roboto:300';
html {
  font-size: 16px; }

body {
  background-color: #F2F9FD;
  font-size: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin: 0; }

main {
  margin: 2.5em;
  margin-top: 1.25em; }

.card__img--center {
  margin: 0 auto; }

.card__badge {
  padding-left: 0.875em;
  padding-right: 0.875em; }

.card__badge--green {
  background-color: #83D78C; }

.card__badge--blue {
  background-color: #0089CF; }

.card {
  background-color: #FFFFFF;
  height: 26.875em;
  padding: 1.75em;
  position: relative; }

.content__most-popular {
  background-color: transparent;
  border: none;
  font-family: 'DINNextLTPro';
  font-size: 0.875em;
  color: #333333;
  text-transform: uppercase; }

.content {
  bottom: 3.125em;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.card--arrivals {
  background-image: url(../img/product12.png);
  background-size: cover; }

.card__btn-icon {
  background-color: transparent;
  border: none;
  color: #666666; }

.content__filter {
  background-image: url("../img/filter.png");
  background-color: transparent;
  border: none;
  position: absolute;
  top: 0.3125em;
  left: -3.125em;
  width: 4.5625em;
  height: 4.5625em; }

.modal-backdrop {
  background-color: #0C0D0D;
  opacity: .9 !important; }

.close {
  transition: transform 1s;
  font-size: 500%;
  color: #FFFFFF;
  margin-right: 0.1875em; }

.close:hover {
  transform: rotate(360deg);
  color: #FFFFFF; }

@font-face {
  font-family: 'DINNextLTPro';
  src: url("../fonts/DINNextLTPro-MediumCond.otf"); }

p {
  font-family: 'Roboto';
  font-size: 0.75em;
  color: #666666; }

.p--subtitle {
  font-size: 0.875em; }

h1 {
  display: inline-block;
  font-family: 'DINNextLTPro';
  font-size: 2.8125em;
  color: #333333;
  text-transform: uppercase;
  background-image: url("../img/title-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0 0.3125em 0 0.3125em; }

h2 {
  font-family: 'DINNextLTPro';
  font-size: 1.125em;
  color: #333333;
  text-transform: uppercase; }

.h2--discount-red {
  text-decoration: line-through;
  color: #FC7070; }

.h2--big-title-card {
  font-size: 3.4375em;
  color: #FFFFFF; }

h3 {
  font-family: 'DINNextLTPro';
  font-size: 0.875em;
  color: #333333;
  text-transform: uppercase; }

.h3--color-white {
  color: #FFFFFF; }

.h3--color-blue {
  color: #0089CF; }

@media (min-width: 992px) {
  .element {
    padding-top: 5em; } }

header {
  padding: 1.25em; }

/* Padding top 15px */
.p-t-15 {
  padding-top: 0.9375em; }

/* Padding bottom 15px */
.p-b-15 {
  padding-bottom: 0.9375em; }

/* Padding top 42px */
.p-t-42 {
  padding-top: 2.625em; }

/* Margin top 12px */
.m-t-12 {
  margin-top: 0.75em; }

/* Margin top 22px */
.m-t-22 {
  margin-top: 1.375em; }

/* Padding Left 20px */
.p-l-20 {
  padding-left: 1.25em; }
