@import url(../../node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(../../node_modules/font-awesome/css/font-awesome.min.css);
@import 'https://fonts.googleapis.com/css?family=Roboto:300';
html {
  font-size: 16px; }

body {
  background-color: #F2F9FD;
  font-size: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin: 0; }

html {
  font-size: 16px; }

body {
  background-color: #F2F9FD;
  font-size: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

p {
  margin: 0; }

main {
  margin: 2.5em;
  margin-top: 1.25em; }

.img-center {
  margin: 0 auto; }

.badge-green {
  background-color: #83D78C;
  padding-left: 0.875em;
  padding-right: 0.875em; }

.badge-blue {
  background-color: #0089CF;
  padding-left: 0.875em;
  padding-right: 0.875em; }

.card {
  background-color: #FFFFFF;
  height: 26.875em;
  padding: 1.75em;
  position: relative; }

.most-popular {
  background-color: transparent;
  border: none;
  font-family: 'DINNextLTPro';
  font-size: 0.875em;
  color: #333333;
  text-transform: uppercase; }

.arrow-down {
  padding-left: 1.25em; }

.content {
  bottom: 3.125em;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

.card-arrivals {
  background-image: url(../img/product12.png);
  background-size: cover; }

.gray-icon {
  color: #666666; }

.btn-icon {
  background-color: transparent;
  border: none; }

@font-face {
  font-family: 'DINNextLTPro';
  src: url("../fonts/DINNextLTPro-MediumCond.otf"); }

p {
  font-family: 'Roboto';
  font-size: 0.75em;
  color: #666666; }

.p--subtitle {
  font-size: 0.875em; }

h1 {
  display: inline-block;
  font-family: 'DINNextLTPro';
  font-size: 2.8125em;
  color: #333333;
  text-transform: uppercase;
  background-image: url("../img/title-bg.png");
  background-repeat: no-repeat; }

h2 {
  font-family: 'DINNextLTPro';
  font-size: 1.125em;
  color: #333333;
  text-transform: uppercase; }

.h2--discount-red {
  text-decoration: line-through;
  color: #FC7070; }

.h2--big-title-card {
  font-size: 3.4375em;
  color: #FFFFFF; }

h3 {
  font-family: 'DINNextLTPro';
  font-size: 0.875em;
  color: #333333;
  text-transform: uppercase; }

.h3--color-white {
  color: #FFFFFF; }

.h3--color-blue {
  color: #0089CF; }

input {
  font-family: 'Roboto';
  font-size: 0.875em;
  color: #666666; }

header {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px; }

.header__item {
  font-family: 'DINNextLTPro';
  font-size: 1em;
  color: #333333;
  text-transform: uppercase; }

.header__item--blue {
  color: #0089CF; }

.header__item--red {
  color: #FC7070; }

.header__item--active {
  border-bottom: 4px solid #0089CF;
  color: #0089CF; }

.navbar-nav > li > a:hover {
  background-color: #F2F9FD;
  border-bottom: 4px solid #0089CF;
  color: #0089CF; }

.navbar-nav > li > a {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 10px;
  margin-right: 10px; }

footer {
  padding: 2.5em;
  background-color: #0C0D0D; }

.menulist {
  height: 9.375em;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3; }

.menulist li {
  display: inline-block;
  /*necessary*/
  padding-right: 7.625em; }

.menulist__item a {
  font-family: 'DINNextLTPro';
  font-size: 0.875em;
  color: #333333;
  text-transform: uppercase; }

.sharelist_item {
  text-decoration: none;
  display: inline;
  padding-right: 0.125em; }

.sharelist_item a {
  color: #333333;
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 12px;
  border: 1px solid #333333; }

.sharelist_icon {
  font-size: 1.5625em; }

.form input {
  width: 278px;
  padding-left: 1.875em;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #333333; }

::-webkit-input-placeholder {
  color: #333333; }

.form:before {
  height: 100%;
  width: 30px;
  padding-right: 0.625em;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  position: absolute;
  content: "\2709";
  font-family: 'Glyphicons Halflings';
  pointer-events: none; }

.layout__padding-bottom {
  padding-bottom: 1.25em; }

.footer__description {
  text-align: center;
  color: #333333;
  margin-top: 2.5em; }

@media (min-width: 992px) {
  .element {
    padding-top: 5em; } }

@media (max-width: 1328px) {
  .form input {
    width: 80%; } }

@media (max-width: 1415px) {
  .menulist li {
    padding-right: 6.25em; } }

@media (max-width: 1270px) {
  .menulist li {
    padding-right: 4.375em; } }

@media (max-width: 1100px) {
  .menulist li {
    padding-right: 50%; } }

@media (max-width: 610px) {
  .menulist li {
    padding-right: 30%; } }

/* Padding top 15px */
.p-t-15 {
  padding-top: 0.9375em; }

/* Padding bottom 15px */
.p-b-15 {
  padding-bottom: 0.9375em; }

/* Padding top 42px */
.p-t-42 {
  padding-top: 2.625em; }

/* Margin top 12px */
.m-t-12 {
  margin-top: 0.75em; }

/* Margin top 22px */
.m-t-22 {
  margin-top: 1.375em; }
